@font-face {
  font-family: "Barlow Semi Condensed Regular";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
  font-family: "Barlow Semi Condensed Semi Bold";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "Barlow Semi Condensed Bold";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
  font-family: "Barlow Semi Condensed Extra Bold";
  src: url("../fonts/BarlowSemiCondensed/BarlowSemiCondensed-ExtraBold.ttf");
}